<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Main"  thread-count="2" parallel="methods">
    <test name="Main Assignment Test">
        <classes>
            <class name="com.bank.qa.testcases.HomePageTest"/>
            <class name="com.bank.qa.testcases.CustomerLoginTest"/>
            <class name="com.bank.qa.testcases.CustomerHomePageTest"/>

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->